<p class="t-12 t-black t-bold v-align-middle display-flex extension-clickable-highlight" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);">
              <svg role="none" aria-hidden="true" class="mr2 extension-clickable-highlight" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="bookmark-fill-small" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);">
<!---->    
    <use href="#bookmark-fill-small" width="16" height="16" class="extension-clickable-highlight" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);"></use>
</svg>

              <span class="extension-clickable-highlight" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);">
                Saved items
              </span>
            </p>

            <p class="t-12 t-black t-bold v-align-middle display-flex extension-clickable-highlight" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);">
              <svg role="none" aria-hidden="true" class="mr2 flex-shrink-zero extension-clickable-highlight" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="group-small" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);">
<!---->    
    <use href="#group-small" width="16" height="16" class="extension-clickable-highlight" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);"></use>
</svg>

              <span class="extension-clickable-highlight" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);">Groups</span>
            </p>


<a class="rvRNssJDWKegbQSFlvVGDzifTntLgssFI full-width artdeco-button artdeco-button--secondary artdeco-button--2 mr3 extension-clickable-highlight" aria-label="View event: Certified Artificial Intelligence (AI) Expert™ Interactive Live Training" href="https://www.linkedin.com/events/certifiedcryptocurrencytrader-i7096657424417267712/" data-test-app-aware-link="" style="position: relative; outline: rgb(0, 255, 0) solid 2px; outline-offset: 2px; background-color: rgba(0, 255, 0, 0.125);">
            View event
          </a>